* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Sedgwick Ave', cursive;
}

body {
  background: url(img/background-rickandmorty.jpg) center;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  max-width: 1000px; 
  width: 90%;
  margin: auto;
}

/* Header */

.img-logo {
  height: 210px;
	display: block;
  margin: auto;
}

.search {
  width: 20%;
  height: 30px;
  line-height: 430px;
  background: white;
  padding: 0 20px;
  border-radius: 15px;
  font-size: 15px;
  margin: 20px 0px;
  
}

.search:hover {
  border: 2px solid rgb(25, 214, 189);
  cursor: pointer;
}

.board {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.card {
  width: 180px;
  height: 200px;
  text-align: center;
  background: rgb(18, 194, 170);
  border-radius: 10px;
  margin: 20px;
 
}

.card:hover {
  cursor: pointer;
  border: 2px solid rgb(15, 99, 110);
  transform: scale(1.1); 

}

.image {
  margin-top: 10px;
  width: 60%;
  border-radius: 50%;
}

p {
  margin: 10px 15px;
  font-size: 18px;
}